@media screen and (min-width: 480px) {  
  .editor {
    padding-top: 135px;
    padding-bottom: 78px;
    // padding-left: 14px;
    // padding-right: 14px;
  
    &__title {
      @include font('Montserrat', 700, 42px);
    }
    &__descrition {
      @include font('Lato', 400, 16px);
      line-height: 19px;
      margin-top: 54px; 
    }
  }  
}

@media screen and (min-width: 768px) {  
  .editor {
    padding-top: 156px;
    padding-bottom: 98px; 
    // padding-left: 50px;
    // padding-right: 50px;
  
    &__descrition {
      @include font('Lato', 400, 21px);
      width: 90%;
      display: inline-block;
      line-height: 23px;
      margin-top: 38px; 
    }
  }  
}

@media screen and (min-width: 1200px) { 
  .editor {
    padding-top: 129px 0 70px 0;   
  
    &__title {
      @include font('Montserrat', 700, 54px);
    }

    &__descrition {
      width: 70%;
    }
  }  
}