.header {
  background-color: rgb(34, 33, 37);
  padding-left: 15px;
  padding-right: 15px;
   .container--header {
    display: flex;
    justify-content: space-between;
    height: 103px;
    min-width: 320px;
    
    .header__logo {
      display: flex;
      align-items: center;
      .header__logo-img {
      background-image: url(../images/css_sprites.png);
      background-position: -10px -10px;
      background-repeat: no-repeat;
      width: 43px;
      height: 42px;
      // &:hover{

      // }
      }
      .header__logo-text {
      display: none;        
      } 
    }    
    .header__right-block {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      .btn--medium {
        @include font('Montserrat', 700, 15px);
        width: 119px;
        height: 38px;
        border-radius: 19px;
        line-height: 38px;
      }
      
      .header-nav {
        display: none;
        
        &__item {          
          display: inline-block;
          margin-right: 48px;

          .header-nav__link {
            @include font('Montserrat', 700, 16px);
            color:  #8d81ac;
            text-decoration: none;            
          }
        }
      }
    }
  }
}