.header {
  background-color: rgb(34, 33, 37);
  .container {
    width: 1200px;
    margin: 0 auto;
  } 
  .container--header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
    .header__logo {
      display: flex;
      align-items: center;
      .header__logo-img {
      background-image: url(../images/css_sprites.png);
      background-position: -10px -10px;
      background-repeat: no-repeat;
      width: 43px;
      height: 42px;
      // &:hover{

      // }
      }
      .header__logo-text {
        @include font('Lato', 700, 24px);
        text-transform: uppercase;
        color:  #8d81ac;
        margin-left: 17px;        
      } 
    }    
    .header__right-block {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      .header-nav {
        &__item {          
          display: inline-block;
          margin-right: 48px;

          .header-nav__link {
            @include font('Montserrat', 700, 16px);
            color:  #8d81ac;
            text-decoration: none;            
          }
        }
      }
      .btn {        
        text-decoration: none;       
        text-align: center;        
        background-color: rgb(142, 130, 173);
        color: #ffffff;        
      }
      .btn--medium {
        @include font('Montserrat', 700, 16px);
        width: 145px;
        height: 38px;
        border-radius: 19px;
        line-height: 38px;
      }
    }
  }
}