.container_pricing {
  text-align: center;
}
.pricing {
  background-image: url(../images/Layer_2.png);
  background-repeat: no-repeat;
  background-size: cover; 
  padding-bottom: 90px;

  &__title {
    @include font('Montserrat', 700, 28px);
    color: #ffffff;
    margin-bottom: 53px;
    line-height: 55px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .pricing__item {
      background-color: rgba(255, 255, 255, 0.11);
      flex-basis: 80%;
      height: 457px;
      display: flex;
      flex-direction: column;
      align-items:  center;
      justify-content: space-between;
      margin-bottom: 14px;

      &-title {
        background-color: rgba(255, 255, 255, 0.06);
        padding-top: 36px;
        padding-bottom: 36px;
        text-transform: uppercase;
        @include font('Montserrat', 400, 24px);
        color:  #ffffff;
        width: 100%;
      }
      &-price {
        @include font('Montserrat', 400, 60px);
        color:  #ffffff;

        &::after {
          content: 'per month';
          display: block;
          font-size: 14px;
          text-transform: uppercase;
          margin-top: 20px;
        }
      }
      &-description {
        @include font('Montserrat', 400, 16px);
        color:  #ffffff;
        line-height: 26px;

        &::before {
          content: '';
          display: block;
          width: 60px;
          height: 5px;
          background-color: #8d81ac;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          top: -24px;          
        }
      }
      &-btn {
        text-transform: uppercase;
        @include font('Montserrat', 400, 15px);
        color:  #ffffff; 
        width: 160px;
        height: 42px;
        line-height: 42px;
        border-radius: 21px; 
        background-color: rgba(255, 255, 255, 0.15);
        margin-bottom: 38px;
        transition: 0.3s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.7);
          color: #7f6d78;
          transition: 0.3s;
        }
      }    
    }
    // Activ item:
    .pricing__item.pricing__item_active {
      background-color:rgba(0, 0, 0, 0.13);
      flex-basis: 90%;
      height: 560px;

      .pricing__item-title {
        background-color: rgba(0, 0, 0, 0.11);
        padding-top: 43px;
        padding-bottom: 43px;
      }

      .pricing__item-price {
        @include font('Montserrat', 400, 82px);
      }

      .pricing__item-description {
        margin-top: 50px;

        &::before {
          top: -40px;          
        }
      }

      .pricing__item-btn {
        @include font('Montserrat', 400, 16px);
        width: 190px;
        height: 52px;
        line-height: 52px;
        border-radius: 26px;
        margin-bottom: 47px;
      }
    }      
  }
} 