@media (min-width: 480px) {
  .social {
    &__container {
      padding: 0 25px;
    }

    &__slick {
      margin-top: 120px;

      &__info {
        padding-top: 40px;

        &-feedback {
          margin-bottom: 25px;
        }
      }

      &-person {
        flex-direction: row;

        &__info {
          margin-left: 25px;
          align-items: flex-start;
          padding-top: 0;
        }
      }

      &-block {
        padding: 0 40px;
      }
    }

    &__info {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

@media (min-width: 768px) {
  .social {
    &__container {
      padding: 0 40px;
    }

    &__slick {
      margin-top: 50px;

      &__info {
        padding-top: 50px;

        &-last-feedback {
          position: relative;

          &::after {
            position: absolute;
            content: '';
            width: 768px;
            height: 1px;
            background: rgba(199, 199, 199, 0.2);;
            top: 40px;
            left: -313px;
          }
        }


        &-feedback {
          font-size: 20px;
          line-height: 32px;
          margin-bottom: 30px;
        }

        &-name {
          font-size: 20px;
        }
      }

      &-person {
        &__name {
          color: #8d81ac;
        }
      }
    }

    &__info {
      padding-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &-git {
        margin: 0 20px;

        &__link {
          width: 240px;
        }

        &-logo {
          left: 15px;
        }
      }

      &-twitter {
        margin: 0 20px 35px 20px;

        &__link {
          width: 240px;
          margin-top: 0;
        }

        &-logo {
          left: 15px;
        }
      }

      &-facebook {
        margin: 0 20px;

        &__link {
          width: 240px;
          margin-top: 0;
        }

        &-logo {
          left: 15px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .social {
    &__info {
      padding-top: 120px;
      padding-bottom: 80px;

      &-twitter {
        margin-bottom: 0;
      }
    }
  }
}