@media (min-width: 480px) {
  .solution {
    padding-top: 45px;

    &__title {
      @include font('Montserrat', 700, 42px);
      line-height: 39px;
    }

    &__description {
      &-block {
        flex-direction: row;
        justify-content: space-between;
        align-items: normal;

        &-main {
          display: flex;
          flex-direction: column;
          padding-left: 45px;

          &-title {
            text-align: start;
          }

          &-text {
            text-align: start;
          }
        }
      }
    }

    &__editor {
      height: 470px;
      margin-left: 10px;
    }
  }
}

@media (min-width: 768px) {
  .solution {
    &__description {
      &-block {
        padding: 0 30px 55px 30px;
      }
    }

    &__editor {
      height: 760px;
    }
  }
}

@media (min-width: 1200px) {
  .solution {
    justify-content: center;

    &__title {
      @include font('Montserrat', 700, 48px);
      grid-area: title;
      margin: 0;
    }

    &__description {
      grid-area: description;
      padding: 0;

      &-block {
        padding: 0 90px 55px 0;
      }
    }

    &__editor {
      grid-area: editor;
      margin-top: 30px;
    }
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'description title' 'description editor';
    width: 1200px;
  }
}